body 
            {
                background-image: url("bg.jpg");
	            background-size: cover;
	            margin-top: 0;
	            overflow-x: hidden;
            }

            h1 
            {
                text-align:center; 
                color: black; 
                font-family: 'Times New Roman';
                font-size: 50px;
                font-weight: bold;
                text-shadow: 4px 1px gray;
            }
            .blog, .content
            {
                border: 1px solid #15365f;
	            border-radius: 15px;
	            text-align: left;
	            
	            padding-top: 10px;
                padding-left: 8px;
                padding-bottom: 20px;
                padding-right: 8px;
	            
	            margin-top: 20px;
	            
	            line-height: 25px;
            }
